/******************************************************************************************/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
/******************************************************************************************/
/*********************************** header ***********************************************/
/******************************************************************************************/
#header{
    height: 70px;
}

/**********************************************/

#header #headerLeft{
    float: left;
}

#header #headerLeft img#menu{
    width: 50px;
    height: 20px;
    margin-left: 100px;
}

#header #headerLeft a{}

#header #headerLeft a img{
    width: 250px;
    height: 20px;
    margin-left: 80px;
    margin-top: 20px;
}

/**********************************************/

#header #headerRight{
    float: right;
}

#header #headerRight p{
    float: left;
    background-color: #ffd200;
    margin-top: 18px;
    margin-right: 50px;
    padding: 7px 20px;
    border-radius: 10px;
    text-decoration: underline;
}

#header #headerRight img{
    float: left;
    width: 25px;
    height: 30px;
    margin-top: 20px;
    margin-right: 100px;
}


/******************************************************************************************/
/*********************************** slider ***********************************************/
/******************************************************************************************/
#slider{
    height: 400px;
    text-align: center;
    padding-top: 30px;
}

#slider h1 , #slider p , #slider a{
    
}

#slider h1{
    text-transform: uppercase;
    font-size: 45px;
    font-weight: lighter;
}
#slider h1::first-letter{
    font-size: 60px;
}

#slider p{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 50px;
}

#slider a{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 30px;
    text-transform: uppercase;
}


/******************************************************************************************/
/************************************ list ************************************************/
/******************************************************************************************/
#list{
    height: 220px;
    padding-top: 60px;
}

#list .listBlock{
    float: left;
}

#list .listBlock .listImage{
    float: left;
    border: 5px solid #ffd200;
    border-radius: 50%;
    padding: 30px;
    margin-bottom: 10px;
}

#list .listBlock .listImage img{
    width: 50px;
    height: 50px;
}


#list .listBlock .listData{
    text-align: center;
}

#list .listBlock .listData p{
    width: 100px;
    margin-left: 10px;
}

#list .listBreak{
    float: left;
    width: 150px;
    margin-top: 50px;
    border: 2px dashed #ffd200;
}


/******************************************************************************************/
/********************************* advantage **********************************************/
/******************************************************************************************/

#advantage{
    height: 600px;
    padding-top: 50px;
    background-color: #f3f0e7;
    text-align: center;
}

#advantage h1{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: lighter;
}

#advantage h1::first-letter{
    font-size: 40px;
}


#advantage .advantageBlock{
    float: left;
    width: 300px;
    height: 350px;
    margin-left: 110px;
    margin-top: 30px;
}

#advantage .advantageBlock img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 10px;
}

#advantage .advantageBlock h3{
    text-align: center;
    margin-top: 20px;
    font-weight: lighter;
}

#advantage .advantageBlock p{
    margin-top: 20px;
    font-size: 16px;
}

#advantage a{
    text-align: center;
    
    color: white;
    background-color: #e11a27;
    
    width: 300px;
    
    float: left;
    padding: 20px 30px;
    
    margin-left: 500px;
    margin-top: 50px;
    
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/******************************************************************************************/
/********************************* solutions **********************************************/
/******************************************************************************************/
#solutions{
    height: 520px;
    padding-top: 20px;
}

#solutions h1{
    text-align: center;
    font-weight: lighter;
    font-size: 32px;
    text-transform: uppercase;
}

#solutions h1::first-letter{
    font-size: 40px;
}

#solutions .solutionsBlock{
    float: left;
    margin-top: 50px;
    margin-left: 150px;
}

#solutions .solutionsBlock .solutionsBlockType{
    background-repeat: no-repeat;
    height: 50px;
    margin-bottom: -5px;
    margin-left: 50px;
    background-size: 100% 100%;
    width: 150px;
}

#solutions .solutionsBlock .solutionsBlockDetails{
    height: 300px;
    width: 250px;
    background-size: 100% 100%;
    padding-top: 20px;
}

#solutions .solutionsBlock .solutionsBlockDetails h2{
    text-align: center;
    text-transform: uppercase;
}

#solutions .solutionsBlock .solutionsBlockDetails h2::first-letter{
    font-size: 30px;
}

#solutions .solutionsBlock .solutionsBlockDetails .solutionsBlockDetailsInfo{
    background-color: white;
    
    width: 200px;
    height: 200px;
    
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}

#solutions .solutionsBlock .solutionsBlockDetails .solutionsBlockDetailsInfo ul{
    margin-left: 20px;
    padding-top: 20px;
}

#solutions .solutionsBlock .solutionsBlockDetails .solutionsBlockDetailsInfo ul li{
    margin-bottom: 5px;
}

#solutions .solutionsBlock .solutionsBlockDetails .solutionsBlockDetailsInfo p{
    font-size: 30px;
    position: absolute;
    bottom: 10px;
    left: 50px;
}


#solutions .solutionsBlock .solutionsBlockDetails h5{
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: lighter;
}

#solutions .solutionsBlock .solutionsBlockDetails h5::first-letter{
    
}


/******************************************************************************************/
/******************************** testimonials ********************************************/
/******************************************************************************************/
#testimonials{
    background-color: #fdf8f4;
    height: 500px;
    padding-top: 50px;
}

/****************************************/
#testimonials #testimonialsLeft{
    float: left;
    width: 500px;
    margin-left: 200px;
}

/**************/
#testimonials #testimonialsLeft h1{
    font-weight: lighter;
    font-size: 30px;
}

#testimonials #testimonialsLeft h1::first-letter{
    font-size: 40px;
}

/**************/
#testimonials #testimonialsLeft #profile{
    margin-top: 10px;
    height: 100px;
}
#testimonials #testimonialsLeft #profile #profilePicture{
    float: left;
}
#testimonials #testimonialsLeft #profile #profilePicture img{
    width: 100px;
    height: 100px;
}

#testimonials #testimonialsLeft #profile #profileDetails{
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}
#testimonials #testimonialsLeft #profile #profileDetails h3{
    text-transform: uppercase;
}
#testimonials #testimonialsLeft #profile #profileDetails h3::first-letter{
    font-size: 26px;
}

#testimonials #testimonialsLeft #profile #profileDetails p{}

/**************/
#testimonials #testimonialsLeft #profileParagraph{
    margin-top: 20px;
}
#testimonials #testimonialsLeft #profileParagraph p{
    font-size: 14px;
    margin-bottom: 20px;
}

/**************/
#testimonials #testimonialsLeft #testimonialsLink{
    float: right;
}
#testimonials #testimonialsLeft #testimonialsLink p{
    float: left;
    margin-right: 20px;
}

#testimonials #testimonialsLeft #testimonialsLink a{
    float: left;
}

#testimonials #testimonialsLeft #testimonialsLink a img{
    width: 30px;
    height: 20px;
}

/**************/
#testimonials #testimonialsLeft #makeYours{
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
    text-decoration: none;
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    color: black;
    font-size: 28px;
}



